# will have compiled rust files and executables
/target/
release/
generated-archives/

node_modules/

build
dist
dist-ssr
*.local

build
package
!.env.example
vite.config.ts.timestamp-*
tsconfig.tsbuildinfo

# playwright
test-results*
playwright-report

.rust-analyzer/